Q1 What are data structure and why are they important?

ans: Data structur are specialised formats fo organising , storing, and managing data in a computer system. they are fundamental tools in computer programming , avting as specific ways to organise and store data to enable efficient retrieval and modification.

importance-

1 Data  structure define how data elements are related to each other and how they can be acessed.
 2 Data structure are choosen based on the specific operations that neeed to be performed efficiently on the data.

 3 many algorithms rely on specific data structure to function correctly and efficiently

 4 Data structure are fundamental to building and managing databases , enabling efficient storage , retrieval and manipulkation of large amouts of data.

 5 Many machine learning rely on data structur tp efficiently process and analyze data, makking them as a essential part of machine learning pipline.

Q2 Explain the differnce between mutablle and immutable data types with exmples

Ans  mutables - objects whose value canbe change after they are created are kniwn as mutables and objects whose value can not be changed are known as immutable

in immutable data types any operation that apperas to modify them actually creats a new object

examples strings , tuples are immutables

mutable data operation can change thheir content without creating a neew object  

examples- list , dictionaries , sets.

q3 What are main differneces between lists and tuples in python

ans- mutablity(list are mutable , wheras tuples are immutable)

2 Methods and operations ( list have inbuilt methods, tuples do not have inbuilt methods because of their immutability )

3 Performance - Tuples are faster than list in iteration and accessing elements and consumes less memory thn list

4 usage -list are preferred fpr homogeneous collectios that may change , tuples are ideal for hwtwerogeneous data that shoudn't  change

5- syntax- list use square brackets  my_list = [1 , 2 , 3 ]
tuples uses parenteses  my-tuple = (1 , 2 , 3)

Q 4 Describe how dictionaaries store data

ans - Dictionaries are powerful buily in data structure thats tore data using a key value mapping system

 disctionaries are implementd by using hash tables.

 each key is passed through a hash function that converts it into a numberic hash value.

 Each element consists of a key and its associateed value .

 keys must be unique and hashable

 differents keys vcan sometime produce the same hash value and python resolves colliosions using open addressing woth probing.

 pyton dictionaries allocate more memory that neede to maintain performance

 dictionaries consists of an array of buckets  each bucket conatins refrence to key object pairs.

Q5 wht mmight you use a set inste of a list in python ?

set is used insted of list in poython because-

1- sets are automaticaly eliminates duplicates making them ideal whwn you need to store unique values only

2 checking if an item exists in a sset is significantly faster than in a list

3 sets supports operations like union , intersection , diffrences and assynetric differnces

4 convering a list to set is the fastest way to remove duplicate elemnts

5 when the order of elements dosen't matter , sets are more memory eficient.

q6 what is string in python and how is it different from list

ans string in python is an immutable sequence of unicode characters used to store and munipulate text data. andlist is mutabl eorderd collection of data that can  hold elements of different data types.

strings can contaion only chracters , list contain any data types icluding mixed types.

list supports asssignments , intersection , append  and extend , strings have specilaissed ,ethod for text manipulations

strings raee created eith quoted " hello " , lists are creatd in brackets []

srinngs are more memory wfficient for text and list hace overhead per elemt but offer more flexibilty.

Q7 How do tuples ensure data integrity in python

ans - Tuples in python ensure dta integriety through several keys
Because tuples are immutabl , they can be used as dictionaries ke , set elemts , and unlike list

tuples safegaurd the datathat shouldn't be changed through programm execution .

when functions return multiplevalues as atuple , the relationship between these valuses is preserved and cannot be alterd

 Tuples have a smaller memory footprint than list , making them more efficient for storing fixed collections

 the collections.namedtuple feature enhanes readibilty while maintaing immutable benfits.

Q 8 What is hash tables , and how does it related to dictionaries in python

ans - a hash table is adata structure that implents an associative array or mapping , which allows you to store key
 value pairs for efficients lookups . it uses a hash function to compute an index into an array of buckets or slots , from which the desired value can be found .

 relationship between hash tables and python dictionaries

 1 python dictionaries are built using hash tables behindthe scenes .

 2 when you add an item to a dictionary , python hashes the key to determine where to store the value in memory

 3 pyhtons dictionary implementation handles hash collisions  (when different keys are produce the same hash vales)

 4 Dictionaries keys must be hashable

 5 The hash table implementation is what gives dictionaries their 0(1) time complexity for lookups.

Q9 can lists contains diferent data types in python ?

ans - yes, list in python can contain different data types . Pythons lists are heterogeneous data structure, which menas they can store elements of multiple data types within the same list . you can mix integers , strings , float , booleans and evem other list or complex objects like dictionaries , anad custom classes ina sinle list .

q10 explain why strings arae immuatble for several important dsign and implenttaion reasons

ans - python to optimise memory usage by storing only one copy of identical strings

strings are commanly used in dictinary keys , which require immutable objects . their hash valus remain constant throughoutprogram execution, ensuring reliable lookups .

immutable strings are inherently thread safe since they cannot be modified  after creation . this eliminates the need for locks or synchornization whwn sharing sting data between threads.

Immutablity prevents accidental or  malicious modification of string data, which is important for sensitive information like passwords , databse queries  or file paths

sice strings can't change , python can compute aba cache their values once , improvving performance for dictionary and set operations .

Q11what adavantages do dictionaris offer over list for certain tasks

ans dictionaries offer several significant advantages over list for certain tasks
 1 dictionares allows access to values using meaning keys rather than numeri indies , making code more readable andintutive .

 2 Dictionaries use hasg tables implementation providing constant time lookups regadles of size ehile list require 0 (n)  time for searching

 3 cheking if a key exists in a dictionary is much faster than searching a list

 4 dictionaries enforced unique keys preventing accidntal duplication of identifiers

 5 white list only use integers oas indices , dictionaies can use immutable types string , numbers, tupels as keys .

Q12 describe a scenario where using a tuple would b epreferable over a list

ans - tuples are preferable over a list in several scenarios

1 represting fixed data that should not change , such as geographic coordinates .

2since dictionary keys must be immutables , tuples can be used as a composite keys while lists cannot

3 when ypu want to nsure dta cannot be accidently modifed

4 tuples are slightly fatser than list foriterration and have a samller memory footprint

5using tuples clearlly communicates to other developers that thistata should not be modified

Q 13 How do sets handle duplicate values in python?

ans - Sets inpython automatically eliminate duplicate valus , when you create set or add elemts to an exixting set , any duplicate are slightly discared , keepig only ine instance if eah unique vlaue . thhis pripoert makes sets ideal for removing duplicates from collections and for membership testing

Q14 how does the "in" keyword works differently for lists and dictionsries ?

ans for list - the in operater checks if a value exists as an element in the list

it seraches sequentially thropugh each elements

time complexity is O(n) perfporamce decreases with larger lists

it compares the vlaue to each elements in the list using equality comparison

for dictionaries - the in opertor checks if a value exists as akey in the dictionary

it only seraches  among the ddictionary keys , not among the values

time complexity is O(1) constant time regardless of dictionary size.

Q15 Can you modify  the elements of a tuple ? explain why or why not ?

anas - no, you cannot modify the elements of atuple in python . this is because tuples are immutable data structure , meaning once they are created , their contents cannot be changed
1. tuples can be used as a dictinary keys

2. tuples can be elements of sts

3.tupes are typically more memory efficient than list

4. Immutable objects are generally safer inmultihreaded applications

5. the immutability guarantees that data won't be accidently modifiesd

Q16 what is a nested dictionary , and give example of its use case ?

ans - A nested dictionary is a  dictionary where one or more values are dictionaries themselves . thos creates a hierarchial data structure where data can be organised in multiple levels

exampples storing informaion about students across different schools and classes this tructure is particularly useful when

organising heirachial data

representing complex relationships between entities

creating configuration systems with multiple levels ofsetting

storing and accessing multi dimensional data that has meaningful lables.

Q17 Describe the complexity of ccessing lmnt in a dictionary

ans - the time omplexity of accessing elemts in apython dictionary isbO(10 on average (constant timen) . this means that regardless if the ditionary's size, retriving a vale usingits keys takes approximately the same amount of time

this efficient performance is possible because dictionaries in python are implemented using hash tables. when you access a dictionary elemts

1 Computes the hash value of the key

2 uses this hash to determine the location of the key value pair in memory

3 retrieves the value directly from that location

Q18In what situations are lists preferred over dictionaries ?

ans - List are preferred over dictionaries in the following situations

1 when order mattrs- lists maintain inseryin order, making them ideal when sequence is important

2 when you need to store duplicate elements list allow duplicates , while dictionary keys must br unique.

3 when accessing elements sequentially - list are optimised for iternation and sequential acess with 0 (1) time complexity or indxed access.

4 whwn memory eficiency is critical - list typically consume less memory than dictionaries for the same number of elements since dictionaries store both keys and values plus hash table overhead.

5 when ypu dont have natural key value  rlationships - if data dosent naturally map to key vakue oairs, lists are more appropriate.

Q19why dictionaries considerd unorderd and how does that affect data retrieval ?

ans - Dictionaries in python were historically considerrd unorderd because their internal implementation using hash tables  didnt guarantee that items would maintain their insertion order. the hash function maps keys to locations in memory based on the keys hash value , not based on when they were intersted.
regading data retrival -

1 despitr being traditionally "unorderd " dictories offer 0(1) time complexity for retriveing items by key , regardless of order.

2 no numerical indexing - Unlike lists, ypu cant access dictionary elemts by position , ypu must use the exact key .

3 Iternation considerations - whwn iterating through a traditional undergoing , he order wasnt predictable or reliable.

Q20 explain the differnce between a list and a dictionary in terms of data retrival ?

ans- List-

* Use intger indices
*Access by index is 0(1) time complexity
*Searching for a value without knowing its index knowing iterating through the list ,which is0(n)time complexity
*Maintain insertion order and allow duplicate values
*Best when seuential access is needed or when position matters.

Dictionaries-

*Uses keys for data retrival
*Looku by key is 0(1) average time complexity due to hash table implementation
*No direct numerical indexing must use the exact key
*best when you neet to associate values with specific keys for fast reterival.

SEction 2Practical

Q1 Write acode to create a string with your name  and print it

In [ ]:
#creating a string with your name
name = "vanshika"
print (name)

vanshika

Q2 Write a code to find the length of the string "hello world "

In [ ]:
#finding the length of string "hello world"
string = " hello world"
length = len(string)
#printing the length
print ("the length of the string'hello world' is:" , length)

the length of the string'hello world' is: 12

Q3 Write a coode to slice the  first 3 characters from the string "python programming "

In [ ]:
#slicing the first 3 characters from the string  " python programming "
string = "python programming"
sliced_string = string [:3]
#printing the sliced string
print("the first 3 characterrs are:",sliced_string)

the first 3 characterrs are: pyt

Q4 Write a code to convert the string  "hello" to uppercase

In [ ]:
#converrting the string "hello" to uppercase
string = "hello"
uppercase_string = string.upper()
#printing the uppercase string
print("the uppercase version of 'hello' is:", uppercase_string)

the uppercase version of 'hello' is: HELLO

Q5 write acode to rplace the word "apple" with "orange" in th string "i like apple"

In [ ]:
#replacing the word "apple" with "orange" in the string "i like apple"
string = "i like apple"
replaced_string = string.replace("apple","orange")
#printing the replaced string
print("the replaced string is:", replaced_string)

the replaced string is: i like orange

Q6 write a code to crate a list with number 1 to 5 and print it

In [ ]:
#creating a list with number1 to 5
numbers = [1,2,3,4,5]
#printing the list
print("the list is:", numbers)

the list is: [1, 2, 3, 4, 5]

Q7 Write a code to append the number 10 to the list [1,2,3,4]

In [ ]:
#creating the inital list
list = [1,2,3,4]
# #appending the number 10 to the list
list.append(10)
#printing the updated list
print("the updated list is:", list)

the updated list is: [1, 2, 3, 4, 10]

Q8 write acode to remove the number 3 from the list [1, 2, 3, 4,5]

In [ ]:
#creating the inital list
numbers = [1,2,3,4,5]
#removing the number 3 from the list
numbers.remove(3)
#printing the updated list
print("the updated list is:", numbers)

the updated list is: [1, 2, 4, 5]

Q9 write a code to access the second element in the kist ['a;, 'b', 'c' ,'d']

In [ ]:
#creating the list
letters = ['a','b','c','d']
#accessing the second element
second_element = letters[1]
#printing the second element
print("the second element in the list is:", second_element)

the second element in the list is: b

Q10write a code to reverse the list [10,20,30,40,50]

In [ ]:
#creating the list
numbers = [10,20,30,40,50]
#reversing the list
reversed_numbers = numbers[::-1]
#printing the reversed list
print("the reversed list is:", reversed_numbers)

the reversed list is: [50, 40, 30, 20, 10]

Q11 write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
#creating a tuple
numbers_tuple = (100,200,300)
# #printing the tuple
print("the tuple is:", numbers_tuple)

the tuple is: (100, 200, 300)

Q12 Write a code to access the second to last element of the the tuple ('red' ,'green', 'blue', ,'yellow')

In [ ]:
#defining the tuple
colors = ('red','green','blue','yellow')
#accessing the second to last element
second_to_last_element = colors[-2]
#printing the second to last element
print("the second to last element is:", second_to_last_element)

the second to last element is: blue

Q13 Write a code to find thr minimum number in the tuple (10,20,5,15)

In [ ]:
#defining the tuple
numbers = (10,20,5,15)
#finding the minimum number
minimum_number = min(numbers)
#printing the minimum number
print("the minimum number is:", minimum_number)

the minimum number is: 5

Q14 write acode to find the index of the element "cat" in th etuple ('dog' ,'cat',''rabbit')

In [ ]:
#defining the tuple
animals = ('dog','cat','rabbit')
#finding the index of the element "cat"
#defining the tuple
animals = ('dog','cat','rabbit')
#finding the index of the element "cat"
index = animals.index('cat')
#printing the index
print("the index of the element 'cat' is:", index)

the index of the element 'cat' is: 1

Q15write acode to create a tuple containing thre diferent fruits and check if "kiwi" is in it

In [ ]:
#creating a tuple with thre different fruits
fruits = ('apple','banana','orange')
# #checking if "kiwi" is in the tuple
is_kiwi_in_tuple = 'kiwi' in fruits
#printing the result
print("is 'kiwi' in the tuple?", is_kiwi_in_tuple)

is 'kiwi' in the tuple? False

Q16 write a code to create a set with the elements 'a', 'b' ,'c' and print it

In [ ]:
#creating a set with the elemts'a', 'b' ,'c'
my_set = {'a','b','c'}
# #printing the set
print("the set is:", my_set)

the set is: {'a', 'c', 'b'}

Q17write a code to clear all elements from the st { 1,2,3,4,5}

In [ ]:
#creating a set with elements {1,2,3,4,5}
my_set = {1,2,3,4,5}
# #clearing all elements from the set
my_set.clear()
#printing the cleared set
print("the cleared set is:", my_set)

the cleared set is: set()

Q18 write a code to remove the element 4 from the set {1,2,3,4}

In [ ]:
#creating a set with elements {1,2,3,4}
my_set = {1,2,3,4}
# #removing the element 4 from the set
my_set.remove(4)
#printing the updated set
print("the updated set is:", my_set)

the updated set is: {1, 2, 3}

Q19 write a code to find the union of two sets {1,2,3} and{3,4,5}

In [ ]:
# creating two sets
set1 = {1,2,3}
set2 = {3,4,5}
#finding the union of the sets
union_set = set1.union(set2)
#printing the union set
print("the union set is:", union_set)

the union set is: {1, 2, 3, 4, 5}

Q20 write a code to find the intersection of two sets {1,2,3} and {2,3,4}

In [ ]:
#creating two sets
set1 = {1,2,3}
set2 = {2,3,4}
#finding the intersection of the sets
intersection_set = set1.intersection(set2)
#printing the intersection set
print("the intersection set is:", intersection_set)

the intersection set is: {2, 3}

Q21 write a code to create a dictionary with the keys "name" , "age", and "city", and print it

In [ ]:
#creating a dictionary with keys "name" , "age" ,and "city"
person_info = {
    "name" : "vanshika",
    "age" : 20,
    "city" : "delhi"
}
#printing the dictionary
print("the dictionary is:", person_info)
#     "city" : "delhi"
#creating a dictionary with keys "name" , "age" ,and "city"
person_info = {
    "name" : "vanshika",
    "age" : 20,
    "city" : "delhi"
}
#printing the dictionary
print("the dictionary is:", person_info)

the dictionary is: {'name': 'vanshika', 'age': 20, 'city': 'delhi'}
the dictionary is: {'name': 'vanshika', 'age': 20, 'city': 'delhi'}

Q22 write acode to add a new key value pair "county": "USA" to the dictionary {'name:'john','age':25}

In [ ]:
#orginal diactioanry
person_info = {
    "name" : "john",
    "age" : 25
}
#adding a new key value pair "county": "USA" to the dictionary
person_info["county"] = "USA"

Q23 Write acode to acess the value associated with the key "name" in the dictionary {'name':'alice','age':30}

In [ ]:
#defining the dictionary
person_info = {'name':'alice','age':30}
#accessing the value associated with the key "name"
name_value = person_info['name']
#printing the value
print("the value associated with the key 'name' is:", name_value)

the value associated with the key 'name' is: alice

Q24 write a code to remove the key "age" from the dictinary{'name':'bob', 'age':22,'city':'new york'}

In [ ]:
#defining the dictionary
person_info = {'name':'bob', 'age':22,'city':'new york'}
#removing the key "age" from the dictionary
del person_info['age']
#printing the updated dictionary
print("the updated dictionary is:", person_info)

the updated dictionary is: {'name': 'bob', 'city': 'new york'}

Q25 write acode to check if the key  "city" exits in the dictionary {'name': 'alice','city':'paris'}

In [ ]:
#defining the dictionary
person_info = {'name': 'alice','city':'paris'}
#checking if the key "city" exits in the dictionary
if 'city' in person_info:
    print("the key 'city' exits in the dictionary")
else:
  print("the key 'city' does not exits in the dictionary")

the key 'city' exits in the dictionary

Q26 write a code to create a list , atuple and a dictionary, and print them all

In [ ]:
#creating a list
my_list = [1,2,3,4,5]
#creating a tuple
my_tuple = (10,20,30,40,50)
#creating a dictionary
my_dictionary = {
    "name" : "vanshika",
    "age" : 20,
    "city" : "delhi"
}
#printing all three

Q27 write acode to create a list of 5 random numbers between 1 and 100 , sort it in ascending order, and print the result.(replaced)

In [ ]:
import random
#generating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1,100) for _ in range(5)]
#sorting the list in ascending order
random_numbers.sort()
#printing the sorted list
print("the sorted list is:", random_numbers)

the sorted list is: [4, 5, 26, 27, 61]

Q28 write acode to create a list with strings and print the element at the third index

In [ ]:
#creating a list with strings
string_list = ["apple","banana","orange","grape","kiwi"]
#printing the element at the third index
print("the element at the third index is:", string_list[2])

the element at the third index is: orange

Q29 write acode to combine two dictionaries into one and print the result

In [ ]:
#creating two dictionaries
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
#combining the dictionaries
combined_dict = {**dict1, **dict2}
#printing the combined dictionary

[Q30 write a code to convert a list of strings into a set

In [54]:
#creating a list of strings
string_list = ["apple","banana","orange","grape","kiwi"]
#converting the list into a set
string_set = set(string_list)
#printing the set
print("the set is:", string_set)

the set is: {'apple', 'grape', 'banana', 'kiwi', 'orange'}